<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Indeed Scraper</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/frontend.js"></script>
  </head>
  <body>
    <div id="pageWrapper">
      <div id="searchWrapper">
        <h1>Search for a Jerb!</h1>
        <form method = "post" action="/test">
          <input name="job" type="text" id="searchTitle" placeholder="Job Title"></input>
          <input name = "location" type="text" id="searchLocation" placeholder="Location"></input>
          <input id="seachButton" type="Submit" value="Search" onclick="empty()"></input>
        </form>
      </div>
    </div>
  </body>
</html>
