<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Indeed Scraper</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/CSSPlugin.min.js"></script>  
    <script src="/js/frontend.js"></script>
</head>
  <body>
    <div class="pageWrapper">
      <div>
        <img src="/public/img/indeedLogo" alt="" />
      </div>
      <div id="searchWrapper">
        <form method = "post" action="/test">
          <input name="job" type="text" id="searchTitle" placeholder="Job Title"></input>
          <input name = "location" type="text" id="searchLocation" placeholder="Location"></input>
          <input id="seachButton" type="Submit" value="Search" onclick="empty()"></input>
        </form>
      </div>
    </div>
  </body>
</html>
