body{
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}
#pageWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#searchWrapper{
  width: 50%;
  background-color: rgba(255,255,255,0.75);
  padding: 50px;
  transition: all 500ms;
}
#searchWrapper:hover,
#searchWrapper:active{
  background-color: white;
}
searchWrapper h1{
  margin-top: 0;
}
searchWrapper input[type="text"] {
  padding: 10px 15px;
}
searchWrapper input[type="submit"]{
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 0;

}
a.jobCard{
  color: black;
  text-decoration: none;
}
li{
  color: black;
  background-color: rgba(255,255,255, 0.5);
  list-style-type: none;
  padding: 20px 40px;
  margin: 20px auto;
  transition: all 1s;
  width: 50%;
}
li:hover{
  background-color: white;
  padding: 35px 60px;
  box-shadow: 0px 10px 25px -15px magenta;
}
